In [25]:
from textblob import TextBlob
import tweepy 
import csv

#our Twitter API key and token
consumer_key = "aODPYB1Gbw8dyCgACFcAwO6wI"
consumer_key_secret = "F08P3xpxCbhKy0a2cxjM0b1HjV6qzSDIvdPRVKBrq09YI0PA79"
access_token = "1429992676665958446-8ewNMBPjUzZHaIfCEBuN2NQcThg2aH"
access_token_secret = "IVuX29eSqQUDW98tz3AeqspLJRbkP6oPKHjKNUFbR2b6v"

#accessing tweet
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

In [ ]:
#extracting only lang=en from full_dataset to full_dataset_clean_en
tsv_file = open(r"C:\Users\alice\Downloads\full_dataset_clean.tsv\full_dataset_clean.tsv", 'r+')
tsv_file_en = open(r"C:\Users\alice\Downloads\full_dataset_clean.tsv\full_dataset_clean_en.tsv", 'a+')
df = csv.reader(tsv_file, delimiter="\t")

counter = 0
for line in df:
    if counter % 10000000 == 0:
        print(counter, '/316800308')
    if line[3] == 'en':
        tsv_file_en.write('\t'.join(line)+'\n')
    counter += 1

In [ ]:
#read the full_dataset_clean_en and create a test_en_sentiment file to append sentiment score
tsv_file_en = open(r"C:\Users\alice\Downloads\full_dataset_clean.tsv\full_dataset_clean_en.tsv", 'r+') 
tsv_file_en_sentiment = open(r"C:\Users\alice\Downloads\full_dataset_clean.tsv\test_en_sentiment.tsv", 'a+')
df = csv.reader(tsv_file_en, delimiter="\t")

#our Twitter API key and token
consumer_key = "aODPYB1Gbw8dyCgACFcAwO6wI"
consumer_key_secret = "F08P3xpxCbhKy0a2cxjM0b1HjV6qzSDIvdPRVKBrq09YI0PA79"
access_token = "1429992676665958446-8ewNMBPjUzZHaIfCEBuN2NQcThg2aH"
access_token_secret = "IVuX29eSqQUDW98tz3AeqspLJRbkP6oPKHjKNUFbR2b6v"

#accessing tweet
auth = tweepy.OAuthHandler(consumer_key, consumer_key_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth)

#read tweeter id,calculate polarity score and subjectivity score by Textblob, and write into test_en_sentiment
counter = 0
for line in df:
    if counter % 100000 == 0:         #keeping track of downloading progress
        print(counter, '/1500000')
    try:
        tweetFetched = api.get_status(line[0])
        testimonial = TextBlob(tweetFetched.text)
        line += [str(testimonial.sentiment[0]), str(testimonial.sentiment[1])]
    except:
        line += ['nan', 'nan']
        
    tsv_file_en_sentiment.write('\t'.join(line)+'\n')
    counter += 1

In [7]:
cd full_dataset_clean.tsv

C:\Users\alice\Downloads\full_dataset_clean.tsv

In [8]:
import pandas as pd
import numpy as np

# Open the crawled twitter file with sentiment scores, turn it into a data structure to add column and manipulate data 
polarity_df= pd.read_csv('test_en_sentiment.tsv', delimiter= "\t", header=None)
polarity_df.columns= ["TweetID", "Date", "Time", "Language", "NULL", "Polarity", "Subjectivity"]
polarity_df

,TweetID,Date,Time,Language,NULL,Polarity,Subjectivity
0,1213330173736738817,2020-01-04,05:23:50,en,NaN,0.216667,0.450000
1,1214195710301618178,2020-01-06,14:43:10,en,NaN,NaN,NaN
2,1214198629553950721,2020-01-06,14:54:46,en,NaN,-0.121212,0.484848
3,1214917256414662656,2020-01-08,14:30:20,en,NaN,0.000000,0.000000
4,1214936881563082752,2020-01-08,15:48:19,en,NaN,NaN,NaN
...,...,...,...,...,...,...,...
719156,1223395516446167040,2020-01-31,23:59:55,en,NaN,NaN,NaN
719157,1223395524138631173,2020-01-31,23:59:57,en,NaN,NaN,NaN
719158,1223395526223118336,2020-01-31,23:59:57,en,NaN,NaN,NaN
719159,1223395530702761984,2020-01-31,23:59:58,en,NaN,NaN,NaN
719160,1223395534809026561,2020-01-31,23:59:59,en,NaN,NaN,NaN

In [9]:
#extracting only the date, Tweet Id, and polarity score
new_polarity_df= polarity_df[["Date", "TweetID", "Polarity"]]
new_polarity_df

              Date              TweetID  Polarity
0       2020-01-04  1213330173736738817  0.216667
1       2020-01-06  1214195710301618178       NaN
2       2020-01-06  1214198629553950721 -0.121212
3       2020-01-08  1214917256414662656  0.000000
4       2020-01-08  1214936881563082752       NaN
...            ...                  ...       ...
719156  2020-01-31  1223395516446167040       NaN
719157  2020-01-31  1223395524138631173       NaN
719158  2020-01-31  1223395526223118336       NaN
719159  2020-01-31  1223395530702761984       NaN
719160  2020-01-31  1223395534809026561       NaN

[719161 rows x 3 columns]

In [10]:
#filtering out polarity that are "nan"
filtered_df = new_polarity_df[new_polarity_df["Polarity"].notnull()]
filtered_df

              Date              TweetID  Polarity
0       2020-01-04  1213330173736738817  0.216667
2       2020-01-06  1214198629553950721 -0.121212
3       2020-01-08  1214917256414662656  0.000000
5       2020-01-08  1214978895914684418  0.136364
6       2020-01-08  1215028015438192640  0.090909
...            ...                  ...       ...
716960  2020-01-31  1223390612927500288  0.000000
716961  2020-01-31  1223390612969459713  0.136364
716962  2020-01-31  1223390613636251648  0.000000
716963  2020-01-31  1223390614957494272  0.136364
716965  2020-01-31  1223390617117609984  0.136364

[73834 rows x 3 columns]

In [11]:
#extracting only the tweet_id without nan
tweet_df= filtered_df[["TweetID"]]
tweet_df

                    TweetID
0       1213330173736738817
2       1214198629553950721
3       1214917256414662656
5       1214978895914684418
6       1215028015438192640
...                     ...
716960  1223390612927500288
716961  1223390612969459713
716962  1223390613636251648
716963  1223390614957494272
716965  1223390617117609984

[73834 rows x 1 columns]

In [12]:
#extracting only the date and polarity
pol_date_df= filtered_df[["Date", "Polarity"]]
pol_date_df

              Date  Polarity
0       2020-01-04  0.216667
2       2020-01-06 -0.121212
3       2020-01-08  0.000000
5       2020-01-08  0.136364
6       2020-01-08  0.090909
...            ...       ...
716960  2020-01-31  0.000000
716961  2020-01-31  0.136364
716962  2020-01-31  0.000000
716963  2020-01-31  0.136364
716965  2020-01-31  0.136364

[73834 rows x 2 columns]

In [134]:
#create a file with the filtered out individual polarity with date, for visualization
pol_date_df.to_csv('Final_individual_polarity_dataset.csv')

In [ ]:
#For individiual polarity visualization, please refer to Audrey's code

In [13]:
#the overall average polarity score in January
pol_date_df["Polarity"].mean()

0.052290545592617206

In [14]:
#checking the type of the dataframe
pol_date_df.dtypes

Date         object
Polarity    float64
dtype: object

In [15]:
#convert date from object to datetime
pol_date_df['Date'] = pd.to_datetime(pol_date_df['Date'])

C:\Users\alice\AppData\Local\Temp/ipykernel_20760/243560917.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pol_date_df['Date'] = pd.to_datetime(pol_date_df['Date'])

In [16]:
#checking the info of the dataframe to make sure date type has changed
pol_date_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73834 entries, 0 to 716965
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Date      73834 non-null  datetime64[ns]
 1   Polarity  73834 non-null  float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 1.7 MB

In [17]:
#convert each date into an index in order to average polarity per day, referenced https://www.askpython.com/python-modules/pandas/dataframe-indexing
df = pol_date_df.set_index("Date")
print("\nThis is the Final DataFrame:")
print(df)

This is the Final DataFrame:
            Polarity
Date
2020-01-04  0.216667
2020-01-06 -0.121212
2020-01-08  0.000000
2020-01-08  0.136364
2020-01-08  0.090909
...              ...
2020-01-31  0.000000
2020-01-31  0.136364
2020-01-31  0.000000
2020-01-31  0.136364
2020-01-31  0.136364

[73834 rows x 1 columns]

In [18]:
#average each date's polarity score

daily_data = df.resample("D").mean()
daily_data

            Polarity
Date
2020-01-04  0.216667
2020-01-05       NaN
2020-01-06 -0.121212
2020-01-07       NaN
2020-01-08  0.075758
2020-01-09 -0.060714
2020-01-10 -0.158923
2020-01-11  0.033460
2020-01-12  0.045455
2020-01-13  0.119066
2020-01-14       NaN
2020-01-15       NaN
2020-01-16       NaN
2020-01-17  0.042495
2020-01-18  0.036742
2020-01-19       NaN
2020-01-20       NaN
2020-01-21       NaN
2020-01-22       NaN
2020-01-23       NaN
2020-01-24       NaN
2020-01-25       NaN
2020-01-26  0.058280
2020-01-27  0.044010
2020-01-28  0.046343
2020-01-29  0.046583
2020-01-30  0.055882
2020-01-31  0.058869

In [182]:
#create a file with the polarity average per day, for visualization
daily_data.to_csv('Final_perday_polarity_dataset.csv')

In [ ]:
#For per day visualization, please refer to Audrey's code

In [19]:
#Identifying the score of the highest sentiment score and tweetID
filtered_df.sort_values(by="Polarity", ascending=False)

              Date              TweetID  Polarity
149946  2020-01-28  1222200526185684993       1.0
320910  2020-01-29  1222595854839644160       1.0
539478  2020-01-31  1223046101135003648       1.0
539395  2020-01-31  1223045933702602752       1.0
534357  2020-01-31  1223035887606321152       1.0
...            ...                  ...       ...
371830  2020-01-30  1222725717399613441      -1.0
659975  2020-01-31  1223289565147885569      -1.0
540043  2020-01-31  1223047198604169218      -1.0
540108  2020-01-31  1223047319408349184      -1.0
705378  2020-01-31  1223368530097209345      -1.0

[73834 rows x 3 columns]

In [21]:
#filtering out the rows that have the highest polarity = 1.0
filtered_high_sentiment = filtered_df[filtered_df["Polarity"]== 1]
filtered_high_sentiment

              Date              TweetID  Polarity
4103    2020-01-26  1221530499438399488       1.0
4451    2020-01-27  1221630000907968512       1.0
18503   2020-01-27  1221855634985029634       1.0
18726   2020-01-27  1221856037042565120       1.0
25717   2020-01-27  1221873735822647297       1.0
...            ...                  ...       ...
699321  2020-01-31  1223357816481685509       1.0
699371  2020-01-31  1223357885922643968       1.0
704879  2020-01-31  1223367589557985282       1.0
711022  2020-01-31  1223378700550328320       1.0
716127  2020-01-31  1223388878242861056       1.0

[219 rows x 3 columns]

In [22]:
#selecting the top 10 rows in the filtered highest sentiment
top_high_sent = filtered_high_sentiment.sort_values(by="Polarity", ascending=False).head(10)
top_high_sent

              Date              TweetID  Polarity
4103    2020-01-26  1221530499438399488       1.0
516997  2020-01-30  1223005680929574914       1.0
488710  2020-01-30  1222967683777548289       1.0
488771  2020-01-30  1222967775058124805       1.0
494778  2020-01-30  1222975825114554368       1.0
500251  2020-01-30  1222981660515454976       1.0
505795  2020-01-30  1222988386773827584       1.0
506037  2020-01-30  1222988690366107649       1.0
510410  2020-01-30  1222995258918809619       1.0
510660  2020-01-30  1222995621772025856       1.0

In [ ]:
#create a file with the top 10 rows of the filtered highest sentiment
top_high_sent.to_csv('top_high_sentiment.csv')

In [68]:
#identifying the top highest sentiment text
total_high = ""
for i in top_high_sent["TweetID"]:
    x = api.get_status(i).text
    total_high = total_high + x
print(total_high)

27 Days into 2020: Aus Fire,  China's Coronavirus, and now one of the greatest basketball players. RIP Kobe.A 6th patient has been diagnosed with coronavirus in the U.S. The president has access to the "best" intelligence iâ€¦ https://t.co/FSxn2XeoYhThe best way to get a seat in the transportation these days.                      #coronavirus #Ø§Ù„ØµÙŠÙ†â€¦ https://t.co/dRCPDfoKY9Since the Government of Kenya doesn't have the capability of dealing with coronavirus, the best thing is to take Prâ€¦ https://t.co/xMpzTzQkSDAll this talk of Coronavirus sounds like the perfect plot for an End Of The World themed movie ðŸ˜·ðŸ¤¢ #WashYourGodDamnHandsHow coronavirus spreads on a plane and the best safest place to sit https://t.co/eu62YYTz1k via @BeintravelersA bounce, but one couldn't say Dr. $Copper is particularly impressed by #WHO pronouncements. #coronavirus $SPXâ€¦ https://t.co/JSTK1mhggQ@OldSchool2A Best vaccine for Coronavirus https://t.co/UTd74ajL7BNow is not the perfect time to book your suite at Hilton #Wuhan Riverside #hotel. Yangtze river bridge and Guiyuanâ€¦ https://t.co/EKu5uOwWH1Here is an AWESOME update on the Coronavirus. If you have any questions, or just want to stay educated, please readâ€¦ https://t.co/uZQv1fMaB9

In [69]:
#remove the hyperlinks
import re
clean_total_high = re.sub(r"http\S+", "", total_high)
clean_total_high

'27 Days into 2020: Aus Fire,  China\'s Coronavirus, and now one of the greatest basketball players. RIP Kobe.A 6th patient has been diagnosed with coronavirus in the U.S. The president has access to the "best" intelligence iâ€¦  best way to get a seat in the transportation these days.                      #coronavirus #Ø§Ù„ØµÙŠÙ†â€¦  the Government of Kenya doesn\'t have the capability of dealing with coronavirus, the best thing is to take Prâ€¦  this talk of Coronavirus sounds like the perfect plot for an End Of The World themed movie ðŸ˜·ðŸ¤¢ #WashYourGodDamnHandsHow coronavirus spreads on a plane and the best safest place to sit  via @BeintravelersA bounce, but one couldn\'t say Dr. $Copper is particularly impressed by #WHO pronouncements. #coronavirus $SPXâ€¦  Best vaccine for Coronavirus  is not the perfect time to book your suite at Hilton #Wuhan Riverside #hotel. Yangtze river bridge and Guiyuanâ€¦  is an AWESOME update on the Coronavirus. If you have any questions, or just want to stay educated, please readâ€¦ '

In [70]:
#lower text, remove punctuations 
lowered_total_high = clean_total_high.lower()

punctuations = "!#$%&()*,.:;<=>?@[\]^_`{|}~"
no_punct=''
for char in lowered_total_high:
    if char not in punctuations:
        no_punct = no_punct + char
print(no_punct)
lowered_new_total_high= no_punct

27 days into 2020 aus fire  china's coronavirus and now one of the greatest basketball players rip kobea 6th patient has been diagnosed with coronavirus in the us the president has access to the "best" intelligence iâ€¦  best way to get a seat in the transportation these days                      coronavirus Ø§Ù„ØµÙŠÙ†â€¦  the government of kenya doesn't have the capability of dealing with coronavirus the best thing is to take prâ€¦  this talk of coronavirus sounds like the perfect plot for an end of the world themed movie ðŸ˜·ðŸ¤¢ washyourgoddamnhandshow coronavirus spreads on a plane and the best safest place to sit  via beintravelersa bounce but one couldn't say dr copper is particularly impressed by who pronouncements coronavirus spxâ€¦  best vaccine for coronavirus  is not the perfect time to book your suite at hilton wuhan riverside hotel yangtze river bridge and guiyuanâ€¦  is an awesome update on the coronavirus if you have any questions or just want to stay educated please readâ€¦

In [71]:
#split individual words
words_list= lowered_new_total_high.split()
print(words_list)

['27', 'days', 'into', '2020', 'aus', 'fire', "china's", 'coronavirus', 'and', 'now', 'one', 'of', 'the', 'greatest', 'basketball', 'players', 'rip', 'kobea', '6th', 'patient', 'has', 'been', 'diagnosed', 'with', 'coronavirus', 'in', 'the', 'us', 'the', 'president', 'has', 'access', 'to', 'the', '"best"', 'intelligence', 'iâ€¦', 'best', 'way', 'to', 'get', 'a', 'seat', 'in', 'the', 'transportation', 'these', 'days', 'coronavirus', 'Ø§Ù„ØµÙŠÙ†â€¦', 'the', 'government', 'of', 'kenya', "doesn't", 'have', 'the', 'capability', 'of', 'dealing', 'with', 'coronavirus', 'the', 'best', 'thing', 'is', 'to', 'take', 'prâ€¦', 'this', 'talk', 'of', 'coronavirus', 'sounds', 'like', 'the', 'perfect', 'plot', 'for', 'an', 'end', 'of', 'the', 'world', 'themed', 'movie', 'ðŸ˜·ðŸ¤¢', 'washyourgoddamnhandshow', 'coronavirus', 'spreads', 'on', 'a', 'plane', 'and', 'the', 'best', 'safest', 'place', 'to', 'sit', 'via', 'beintravelersa', 'bounce', 'but', 'one', "couldn't", 'say', 'dr', 'copper', 'is', 'particularly', 'impressed', 'by', 'who', 'pronouncements', 'coronavirus', 'spxâ€¦', 'best', 'vaccine', 'for', 'coronavirus', 'is', 'not', 'the', 'perfect', 'time', 'to', 'book', 'your', 'suite', 'at', 'hilton', 'wuhan', 'riverside', 'hotel', 'yangtze', 'river', 'bridge', 'and', 'guiyuanâ€¦', 'is', 'an', 'awesome', 'update', 'on', 'the', 'coronavirus', 'if', 'you', 'have', 'any', 'questions', 'or', 'just', 'want', 'to', 'stay', 'educated', 'please', 'readâ€¦']

In [ ]:
#For top 10 highest sentiment visualization, please refer to Ivonne's code

In [349]:
#Identifying the lowest sentiment score and tweetID
filtered_df.sort_values(by="Polarity", ascending=True)

              Date              TweetID  Polarity
471431  2020-01-30  1222940134238302208      -1.0
259382  2020-01-29  1222456769013669894      -1.0
388890  2020-01-30  1222775030741897216      -1.0
527799  2020-01-30  1223023375393554432      -1.0
292733  2020-01-29  1222539627501969408      -1.0
...            ...                  ...       ...
586545  2020-01-31  1223159513550704647       1.0
104012  2020-01-28  1222087299954962432       1.0
258714  2020-01-29  1222454833594224640       1.0
511008  2020-01-30  1222996114384859138       1.0
510410  2020-01-30  1222995258918809619       1.0

[73834 rows x 3 columns]

In [62]:
#filtering out the rows that have the lowest polarity = -1.0
filtered_low_sentiment = filtered_df[filtered_df["Polarity"] == -1]
filtered_low_sentiment

              Date              TweetID  Polarity
11664   2020-01-27  1221840358058778624      -1.0
12076   2020-01-27  1221841155844796425      -1.0
18172   2020-01-27  1221854921974337536      -1.0
18943   2020-01-27  1221856594176114691      -1.0
25430   2020-01-27  1221873018886152193      -1.0
...            ...                  ...       ...
716115  2020-01-31  1223388841387724800      -1.0
716166  2020-01-31  1223388969725038594      -1.0
716184  2020-01-31  1223389006962069504      -1.0
716351  2020-01-31  1223389329780686848      -1.0
716671  2020-01-31  1223390034738307074      -1.0

[226 rows x 3 columns]

In [63]:
#selecting the top 10 rows in the filtered lowest sentiment
top_low_sent= filtered_low_sentiment.sort_values(by="Polarity", ascending=True).head(10)
top_low_sent

              Date              TweetID  Polarity
11664   2020-01-27  1221840358058778624      -1.0
465486  2020-01-30  1222929739247013888      -1.0
465684  2020-01-30  1222930075064193025      -1.0
466057  2020-01-30  1222930721469280256      -1.0
471308  2020-01-30  1222939995742396416      -1.0
471402  2020-01-30  1222940095558443010      -1.0
471431  2020-01-30  1222940134238302208      -1.0
482552  2020-01-30  1222956561770872832      -1.0
494138  2020-01-30  1222975171989925888      -1.0
499977  2020-01-30  1222981327516925952      -1.0

In [64]:
#create a file with the top 10 rows of the filtered lowest sentiment
top_low_sent.to_csv('top_low_sentiment.csv')

In [ ]:
#For top 10 lowest sentiment visualization, please refer to Ivonne's code

In [66]:
#identifying the top lowest sentiment text
total_low = ""
for i in top_low_sent["TweetID"]:
    x = api.get_status(i).text
    total_low = total_low + x
print(total_low)

@Awithonelison https://t.co/Xo82poTR4d   Study this well U might learn how evil the CDC, WHO, NIH R. Coronavirus, tâ€¦ https://t.co/dHADoTknb8Ex-Obama health advisor: US needs to 'stop panicking and being hysterical' about coronavirus - https://t.co/WR4Zuitmq4ðŸŒŒ STATUS UPDATE ðŸŒŒ

Hey guys! As you know coronavirus is being a nasty binch, so factories are extending their CNY hâ€¦ https://t.co/k1YLFCz9ArResident Evil

#coronavirus #coronavirusmemes #coronavirusmemesarenotfunny https://t.co/WgCL43qwIMCommodity Dollars, Stocks, Energy Will See Worst CoronavirusÂ Hit https://t.co/sImLD6e2dM https://t.co/GkUxnnb1nf@MollyJongFast Insane.  But, when people start dying off from Coronavirus, there will be lots of job openings to fiâ€¦ https://t.co/J3ynMKCxBXLying #KellyAnneConway and her evil #AlternativeFacts

#coronavirus https://t.co/fklVHttMSR https://t.co/N3mzHZcXOgThis is horrible.. my heart goes out to the people in Wuhan, and China. I hope that the people can push through thiâ€¦ https://t.co/DEoi3n2kl4Year of the rat in China eh?! Well maybe stop eating the filthy motherfuckers then ffs?!

#coronavirusYouâ€™re gonna feel really stupid regulating polluters when we all die from Coronavirus instead of Climate Change, Dummy!

In [67]:
#remove the hyperlinks
clean_total_low = re.sub(r"http\S+", "", total_low)
clean_total_low

"@Awithonelison    Study this well U might learn how evil the CDC, WHO, NIH R. Coronavirus, tâ€¦  health advisor: US needs to 'stop panicking and being hysterical' about coronavirus -  STATUS UPDATE ðŸŒŒ\n\nHey guys! As you know coronavirus is being a nasty binch, so factories are extending their CNY hâ€¦  Evil \n\n#coronavirus #coronavirusmemes #coronavirusmemesarenotfunny  Dollars, Stocks, Energy Will See Worst Coronavirus\xa0Hit   Insane.  But, when people start dying off from Coronavirus, there will be lots of job openings to fiâ€¦  #KellyAnneConway and her evil #AlternativeFacts \n\n#coronavirus   is horrible.. my heart goes out to the people in Wuhan, and China. I hope that the people can push through thiâ€¦  of the rat in China eh?! Well maybe stop eating the filthy motherfuckers then ffs?!\n\n#coronavirusYouâ€™re gonna feel really stupid regulating polluters when we all die from Coronavirus instead of Climate Change, Dummy!"

In [72]:
#lower text, remove punctuations 
clean_total_low = clean_total_low.lower()

punctuations = "!#$%&()*,.:;<=>?@[\]^_`{|}~"
no_punct=''
for char in clean_total_low:
    if char not in punctuations:
        no_punct = no_punct + char
print(no_punct)
clean_total_low= no_punct

awithonelison    study this well u might learn how evil the cdc who nih r coronavirus tâ€¦  health advisor us needs to 'stop panicking and being hysterical' about coronavirus -  status update ðŸŒŒ

hey guys as you know coronavirus is being a nasty binch so factories are extending their cny hâ€¦  evil

coronavirus coronavirusmemes coronavirusmemesarenotfunny  dollars stocks energy will see worst coronavirusÂ hit   insane  but when people start dying off from coronavirus there will be lots of job openings to fiâ€¦  kellyanneconway and her evil alternativefacts

coronavirus   is horrible my heart goes out to the people in wuhan and china i hope that the people can push through thiâ€¦  of the rat in china eh well maybe stop eating the filthy motherfuckers then ffs

coronavirusyouâ€™re gonna feel really stupid regulating polluters when we all die from coronavirus instead of climate change dummy

In [73]:
#split individual words
words_list= clean_total_low.split()
print(words_list)

['awithonelison', 'study', 'this', 'well', 'u', 'might', 'learn', 'how', 'evil', 'the', 'cdc', 'who', 'nih', 'r', 'coronavirus', 'tâ€¦', 'health', 'advisor', 'us', 'needs', 'to', "'stop", 'panicking', 'and', 'being', "hysterical'", 'about', 'coronavirus', '-', 'status', 'update', 'ðŸŒŒ', 'hey', 'guys', 'as', 'you', 'know', 'coronavirus', 'is', 'being', 'a', 'nasty', 'binch', 'so', 'factories', 'are', 'extending', 'their', 'cny', 'hâ€¦', 'evil', 'coronavirus', 'coronavirusmemes', 'coronavirusmemesarenotfunny', 'dollars', 'stocks', 'energy', 'will', 'see', 'worst', 'coronavirus', 'hit', 'insane', 'but', 'when', 'people', 'start', 'dying', 'off', 'from', 'coronavirus', 'there', 'will', 'be', 'lots', 'of', 'job', 'openings', 'to', 'fiâ€¦', 'kellyanneconway', 'and', 'her', 'evil', 'alternativefacts', 'coronavirus', 'is', 'horrible', 'my', 'heart', 'goes', 'out', 'to', 'the', 'people', 'in', 'wuhan', 'and', 'china', 'i', 'hope', 'that', 'the', 'people', 'can', 'push', 'through', 'thiâ€¦', 'of', 'the', 'rat', 'in', 'china', 'eh', 'well', 'maybe', 'stop', 'eating', 'the', 'filthy', 'motherfuckers', 'then', 'ffs', 'coronavirusyouâ€™re', 'gonna', 'feel', 'really', 'stupid', 'regulating', 'polluters', 'when', 'we', 'all', 'die', 'from', 'coronavirus', 'instead', 'of', 'climate', 'change', 'dummy']

In [ ]:
#visualizing the low sentiment text through word cloud, please refer to Ivonne's code